<ion-header class="page-header">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
    <ion-title class="title-header">Passwort zurücksetzen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-content">
    <form [formGroup]="resetPasswordForm">
        <ion-item>
          <ion-label stacked>Email:</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Deine Email Adresse" 
                    [class.invalid]="!resetPasswordForm.controls['email'].valid &&
                    resetPasswordForm.controls['email'].touched">
          </ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid &&
                  resetPasswordForm.controls['email'].touched">
          <ion-label>Bitte eine gültige Email Adresse eingeben.</ion-label>
        </ion-item>
        <ion-button color="secondary" expand="block" (click)="resetPassword(resetPasswordForm)"
                    [disabled]="!resetPasswordForm.valid">
            zurücksetzen
          </ion-button>
      </form>
</ion-content>
