#my-foodlist{
    margin-top: 10px;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 2px 2px 8px #a7a7a7;
    //box-shadow: $searchbar-md-input-box-shadow;
    border-radius: 10px;
    //padding-top: 5px;
    //padding-bottom: 5px;
    padding: 5px;
    color: var(--ion-color-light);
    background-color: var(--ion-color-list);
    
}
