<ion-header >
    <ion-toolbar class="page-header">
      <ion-buttons slot="start">
        <ion-menu-button class="btn-menu" (click)="closeSlidingItems()"></ion-menu-button>
      </ion-buttons>
      <ion-title class="title-header">
        EINKAUFSLISTE
      </ion-title>
      <ion-buttons slot="end">
          <button class="btn-header" (click)="alertAddFood()">
            <ion-icon  slot="icon-only"  ios="ios-add" md="md-add"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding class="page-content">
    
  </ion-content>
  